<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">


<servlet>
<servlet-name>ABC_1st</servlet-name>
<servlet-class>Employees.Servlet01</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ABC_1st</servlet-name>
<url-pattern>/S1</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>ABC_2nd</servlet-name>
<servlet-class>Employees.Servlet02</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ABC_2nd</servlet-name>
<url-pattern>/S2</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Add_people</servlet-name>
<servlet-class>Employees.Servlet_add_people</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Add_people</servlet-name>
<url-pattern>/S3</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Show_Dep</servlet-name>
<servlet-class>Employees.Servlet_show_Dep</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Show_Dep</servlet-name>
<url-pattern>/show_dep</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Show_Emp</servlet-name>
<servlet-class>Employees.Servlet_show_Emp</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Show_Emp</servlet-name>
<url-pattern>/show_emp</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>CookieTry</servlet-name>
<servlet-class>Employees.CookieTry</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CookieTry</servlet-name>
<url-pattern>/CookieTry</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>Employees.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LoginServlet</servlet-name>
<url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Show_Session</servlet-name>
<servlet-class>Employees.Show_Session</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Show_Session</servlet-name>
<url-pattern>/Show_Session</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>LogoutServlet</servlet-name>
<servlet-class>Employees.LogoutServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LogoutServlet</servlet-name>
<url-pattern>/LogoutServlet</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>NewAccountServlet</servlet-name>
<servlet-class>Employees.NewAccountServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>NewAccountServlet</servlet-name>
<url-pattern>/NewAccountServlet</url-pattern>
</servlet-mapping>



 <filter>  
	<filter-name>Filter1</filter-name>  
	<filter-class>Employees.Filter1</filter-class>  
  </filter>  
   
  <filter-mapping>  
	<filter-name>Filter1</filter-name>  
	<url-pattern>/*</url-pattern>  
  </filter-mapping>  
  
  
  
  
  
  


</web-app>