@charset "UTF-8";


body {background-color: AntiqueWhite;}


.topbar {
  background-color: DeepSkyBlue;
  
  text-align: right;
  
  
  font-size: 20px;
  
  
  
}



.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}


.tablinks{
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
	
	
}
